# Теория вероятности. События

# Задача 2

В ящике 5 апельсинов и 4 яблока. Наудачу выбираются 3 фрукта. Какова вероятность, что все три фрукта – апельсины?

В интернете полученный аналитически ответ 0.119. Подтверждается ли он эксперементально?

In [1]:
box = ['Orange']*5 + ['Apple']*4

In [2]:
box

['Orange',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Apple',
 'Apple',
 'Apple',
 'Apple']

In [3]:
import random

In [4]:
random.random()

0.03066286416352615

In [5]:
# 0< x < 1

In [6]:
random.randint(1, 100)

26

In [7]:
print(box)

['Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Apple', 'Apple', 'Apple', 'Apple']

In [14]:
random.shuffle(box)

In [15]:
print(box)

['Orange', 'Orange', 'Apple', 'Apple', 'Apple', 'Orange', 'Orange', 'Orange', 'Apple']

In [16]:
# choice of 3

In [24]:
random.choice(box)

'Apple'

In [25]:
for _ in range(10):
    random.shuffle(box)
    first = random.choice(box)
    second = random.choice(box)
    third = random.choice(box)
    print(first, second, third)

Apple Apple Orange
Orange Apple Apple
Apple Orange Orange
Apple Orange Apple
Orange Orange Apple
Orange Orange Orange
Orange Apple Apple
Apple Apple Apple
Orange Apple Orange
Orange Orange Orange

In [26]:
# 119 cases in 1000 experiments

In [32]:
count_3_oranges = 0
for _ in range(1000):
    random.shuffle(box)
    first = random.choice(box)
    second = random.choice(box)
    third = random.choice(box)
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

173

In [49]:
count_3_oranges = 0
for _ in range(10000):
    #random.shuffle(box)
    first = random.choice(box)
    second = random.choice(box)
    third = random.choice(box)
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

1740

In [54]:
count_3_oranges = 0
for _ in range(100000):
    #random.shuffle(box)
    first = random.choice(box)
    second = random.choice(box)
    third = random.choice(box)
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

17133

In [55]:
# Sampled fruit must be removed

In [59]:
box = ['Orange']*5 + ['Apple']*4
for _ in range(100000):
    box = ['Orange']*5 + ['Apple']*4
    random.shuffle(box)
    first = box.pop()
    second = box.pop()
    third = box.pop()
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

64837

In [62]:
box = ['Orange']*5 + ['Apple']*4
count_3_oranges = 0
for _ in range(1000000):
    random.shuffle(box)
    first = random.choice(box)
    second = random.choice(box)
    third = random.choice(box)
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

171517

In [63]:
## Another version of the code

In [72]:
# 0...8
random.randint(0,8)

2

In [83]:
positions = []
while len(positions)<3:
    pos = random.randint(0,8)
    if pos not in positions:
        positions.append(pos)
print(positions)

[2, 8, 7]

In [84]:
box = ['Orange']*5 + ['Apple']*4
count_3_oranges = 0
random.shuffle(box)
for _ in range(1000000):
    positions = []
    while len(positions)<3:
        pos = random.randint(0,8)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    second = box[positions[1]]
    third = box[positions[2]]
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

118533

In [85]:
box = ['Orange']*5 + ['Apple']*4
count_3_oranges = 0
random.shuffle(box)
for _ in range(1000000):
    positions = []
    while len(positions)<3:
        pos = random.randint(0,8)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    second = box[positions[1]]
    third = box[positions[2]]
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

119598

In [91]:
box = ['Orange']*5 + ['Apple']*4
count_3_oranges = 0
random.shuffle(box)
for _ in range(1000):
    positions = []
    while len(positions)<3:
        pos = random.randint(0,8)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    second = box[positions[1]]
    third = box[positions[2]]
    if first==second==third=='Orange':
        count_3_oranges += 1
print(count_3_oranges)

139

In [92]:
# Monte Carlo Method

# Задача 3

Мастер, имея 10 деталей, из которых 3 – нестандартных, проверяет детали одну за другой, пока ему не попадется стандартная. Какова вероятность, что он проверит ровно две детали?

В интернете полученный аналитически ответ 7/30 или 0.23333. Подтверждается ли он эксперементально?

In [94]:
box = ['Standard']*7 + ['Nonstandard']*3
random.shuffle(box)

In [95]:
print(box)

['Standard', 'Standard', 'Standard', 'Nonstandard', 'Nonstandard', 'Standard', 'Standard', 'Standard', 'Standard', 'Nonstandard']

In [100]:
box = ['Standard']*7 + ['Nonstandard']*3
random.shuffle(box)
for _ in range(10):
    positions = []
    while len(positions)<2:
        pos = random.randint(0,9)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    second = box[positions[1]]
    print(first, second)

Nonstandard Nonstandard
Nonstandard Standard
Standard Standard
Standard Nonstandard
Nonstandard Nonstandard
Nonstandard Standard
Nonstandard Standard
Nonstandard Standard
Nonstandard Nonstandard
Standard Standard

In [101]:
box = ['Standard']*7 + ['Nonstandard']*3
random.shuffle(box)
counter = 0
for _ in range(1000):
    positions = []
    while len(positions)<2:
        pos = random.randint(0,9)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    second = box[positions[1]]
    if first=='Nonstandard' and second=='Standard':
        counter += 1
print(counter)

226

In [102]:
box = ['Standard']*7 + ['Nonstandard']*3
random.shuffle(box)
counter = 0
for _ in range(10000):
    positions = []
    while len(positions)<2:
        pos = random.randint(0,9)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    second = box[positions[1]]
    if first=='Nonstandard' and second=='Standard':
        counter += 1
print(counter)

2364

In [111]:
box = ['Standard']*7 + ['Nonstandard']*3
random.shuffle(box)
counter = 0
for _ in range(100000):
    positions = []
    while len(positions)<2:
        pos = random.randint(0,9)
        if pos not in positions:
            positions.append(pos)
    first = box[positions[0]]
    if first == 'Standard':
        continue
    second = box[positions[1]]
    if second=='Standard':
        counter += 1
print(counter)

23104

In [112]:
# If first is standard, there will be no Second

# Задача 1

На основании данных портала "Открытые данные России" о результатах Химического анализа родника в Нескучном саду https://data.gov.ru/opendata/7708660670-rodnik-neskuchniy-sad средствами библиотеки Pandas сформируйте поле выводов по каждому анализирумомому параметру. Например, по показателю pH получен результат 8.4 единицы pH при нормативе от 6 до 9 единиц pH. Т.о. по данному показателю результат анализа в норме. Для решения задачи необходимо программно "прочитать и понять" значение столбца "Норматив" и выделенное численное значение сравнить с нормативом согласно логике норматива. Например, 6 >= pH >= 9. В итоговом DataFrame столбец "Показатель" сделайте индексным.

Загзрузка DataFrame выполняется непосредственно c сайта "Открытые данные России" https://data.gov.ru/opendata/7708660670-rodnik-neskuchniy-sad/data-20160608T1215-structure-20160608T1215.csv (см. код ниже).

In [113]:
import pandas as pd
import numpy as np
import requests # for web-download
import io # for web-download
import re # for data processing

In [115]:
'''
headers={
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',
}
def get_content(url):
    with requests.Session() as req:
        req.headers.update(headers)
        r = req.get(url).content
    return r

url ="https://data.gov.ru/opendata/7708660670-rodnik-neskuchniy-sad/data-20160608T1215-structure-20160608T1215.csv"
s = get_content(url)
df=pd.read_csv(io.StringIO(s.decode('UTF8')))
'''

'\nheaders={\n    \'User-Agent\': \'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0\',\n}\ndef get_content(url):\n    with requests.Session() as req:\n        req.headers.update(headers)\n        r = req.get(url).content\n    return r\n\nurl ="https://data.gov.ru/opendata/7708660670-rodnik-neskuchniy-sad/data-20160608T1215-structure-20160608T1215.csv"\ns = get_content(url)\ndf=pd.read_csv(io.StringIO(s.decode(\'UTF8\')))\n'

In [116]:
df=pd.read_csv("Химический анализ родника в Нескучном саду.csv", sep=';')

In [117]:
df.shape

(14, 4)

In [118]:
df

,Показатель,Единица измерений,Результат анализа,Норматив
0,pH,единицы pH,8.4,в пределах 6-9
1,Запах,баллы,1,не более 2-3
2,Цветность,градусы,б/цвета,не более 30
3,Жёсткость,мг-эквл/дм3,9.199999999999999,в пределах 7-10
4,Аммиак и аммоний-ион (по азоту),мг/дм3,0.42,"не более 1,5"
5,Нитриты (по NO2),мг/дм3,0.017,"не более 3,3"
6,Нитраты (по NO3),мг/дм3,24,не более 45
7,Фосфаты (P),мг/дм3,0.36,"не более 3,5"
8,Хлориды (Cl),мг/дм3,200,не более 350
9,Сульфаты (SO4),мг/дм3,189.5,не более 500
10,Железо (включая хлорное железо) по Fe,мг/дм3,0.019,"не более 0,3"
11,Нефть,мг/дм3,0.55,"не более 0,3"
12,Общая минерализация (сухой остаток),мг/дм3,590,не более 1000
13,Окисляемость перманганатная,мг/дм3,2,"не более 0,5"

In [119]:
text1 = 'в пределах 6-9'
text2 = 'не более 3,5'

In [120]:
if 'пределах' in text1:
    print('Range')

Range

In [121]:
if 'не более' in text2:
    print('Less than or equal')

Less than or equal

In [122]:
## Use requalr expressions

In [123]:
text = "quick brown for jumps over the lazy dog"

In [124]:
re.findall('\w', text)

['q',
 'u',
 'i',
 'c',
 'k',
 'b',
 'r',
 'o',
 'w',
 'n',
 'f',
 'o',
 'r',
 'j',
 'u',
 'm',
 'p',
 's',
 'o',
 'v',
 'e',
 'r',
 't',
 'h',
 'e',
 'l',
 'a',
 'z',
 'y',
 'd',
 'o',
 'g']

In [125]:
re.findall('\w+', text)

['quick', 'brown', 'for', 'jumps', 'over', 'the', 'lazy', 'dog']

In [126]:
re.findall('\w{3}', text)

['qui', 'bro', 'for', 'jum', 'ove', 'the', 'laz', 'dog']

In [129]:
re.findall(' \w{3}', text)

[' bro', ' for', ' jum', ' ove', ' the', ' laz', ' dog']

In [130]:
# \b\w{3}\b

In [131]:
re.findall(r'\b\w{3}\b', text)

['for', 'the', 'dog']

In [132]:
text = "123 quick brown for 45 jumps over the 456 lazy dog"

In [133]:
re.findall(r'\b\w{3}\b', text)

['123', 'for', 'the', '456', 'dog']

In [135]:
re.findall(r'\b[a-z]{3}\b', text)

['for', 'the', 'dog']

In [136]:
re.findall(r'\b[0-9]{3}\b', text)

['123', '456']

In [137]:
re.findall(r'\b[0-9]+\b', text)

['123', '45', '456']

In [138]:
text1 = 'в пределах 6-9'
text2 = 'не более 3,5'

In [140]:
re.findall(r'\b\w+\b', text1)

['в', 'пределах', '6', '9']

In [141]:
re.findall(r'\b\w+\b', text2)

['не', 'более', '3', '5']

In [143]:
re.findall(r'\b\d+-\d+\b', text1)

['6-9']

In [144]:
text1 = 'в пределах 6-9 и не более 12'

In [145]:
re.findall(r'\b\d+-\d+\b', text1)

['6-9']

In [146]:
re.findall(r'\b\d+-*\d+\b', text1)

['6-9', '12']

In [147]:
re.findall(r'\b\d+-{0,1}\d+\b', text1)

['6-9', '12']

In [148]:
text1 = 'в пределах 6-9 и не более 1,25'

In [149]:
re.findall(r'\b\d+-{0,1}\d+\b', text1)

['6-9', '25']

In [150]:
re.findall(r'\b\d+[-,]{0,1}\d+\b', text1)

['6-9', '1,25']

In [151]:
df

,Показатель,Единица измерений,Результат анализа,Норматив
0,pH,единицы pH,8.4,в пределах 6-9
1,Запах,баллы,1,не более 2-3
2,Цветность,градусы,б/цвета,не более 30
3,Жёсткость,мг-эквл/дм3,9.199999999999999,в пределах 7-10
4,Аммиак и аммоний-ион (по азоту),мг/дм3,0.42,"не более 1,5"
5,Нитриты (по NO2),мг/дм3,0.017,"не более 3,3"
6,Нитраты (по NO3),мг/дм3,24,не более 45
7,Фосфаты (P),мг/дм3,0.36,"не более 3,5"
8,Хлориды (Cl),мг/дм3,200,не более 350
9,Сульфаты (SO4),мг/дм3,189.5,не более 500
10,Железо (включая хлорное железо) по Fe,мг/дм3,0.019,"не более 0,3"
11,Нефть,мг/дм3,0.55,"не более 0,3"
12,Общая минерализация (сухой остаток),мг/дм3,590,не более 1000
13,Окисляемость перманганатная,мг/дм3,2,"не более 0,5"

In [153]:
for i in range(len(df)):
    print(df['Норматив'].iloc[i])

в пределах 6-9
не более 2-3
не более 30
в пределах 7-10
не более 1,5
не более 3,3
не более 45
не более 3,5
не более 350
не более 500
не более 0,3
не более 0,3
не более 1000
не более 0,5

In [154]:
for i in range(len(df)):
    text = df['Норматив'].iloc[i]
    print(re.findall(r'\b\w{3,10}\b', text))

['пределах']
['более']
['более']
['пределах']
['более']
['более']
['более']
['более']
['более', '350']
['более', '500']
['более']
['более']
['более', '1000']
['более']

In [155]:
for i in range(len(df)):
    text = df['Норматив'].iloc[i]
    result = re.findall(r'\b\w{3,10}\b', text)[0]
    if result == 'пределах':
        print('Range')
    elif result == 'более':
        print('Limit')

Range
Limit
Limit
Range
Limit
Limit
Limit
Limit
Limit
Limit
Limit
Limit
Limit
Limit

In [163]:
for i in range(len(df)):
    text = df['Норматив'].iloc[i]
    result = re.findall(r'\b\w{3,10}\b', text)[0]
    if result == 'пределах':
        low, high = re.findall(r'[0-9]+', text)
        print('Range', low, high)
    elif result == 'более':
        limit = re.findall(r'\d+[-,]{0,1}\d+', text)[0]
        print('Limit', float(limit))

Range 6 9

ValueError: could not convert string to float: '2-3'

In [164]:
float('0,3')

ValueError: could not convert string to float: '0,3'

In [165]:
## Get rid of - or ,

In [170]:
for i in range(len(df)):
    text = df['Норматив'].iloc[i]
    result = re.findall(r'\b\w{3,10}\b', text)[0]
    if result == 'пределах':
        low, high = re.findall(r'[0-9]+', text)
        print('Range', float(low), float(high))
    elif result == 'более':
        limit = re.findall(r'[0-9]+', text)
        if len(limit)==2:
            limit = float(limit[0]+'.'+limit[1])
        else:
            limit = float(limit[0])
        print('Limit', limit)

Range 6.0 9.0
Limit 2.3
Limit 30.0
Range 7.0 10.0
Limit 1.5
Limit 3.3
Limit 45.0
Limit 3.5
Limit 350.0
Limit 500.0
Limit 0.3
Limit 0.3
Limit 1000.0
Limit 0.5

In [171]:
df

,Показатель,Единица измерений,Результат анализа,Норматив
0,pH,единицы pH,8.4,в пределах 6-9
1,Запах,баллы,1,не более 2-3
2,Цветность,градусы,б/цвета,не более 30
3,Жёсткость,мг-эквл/дм3,9.199999999999999,в пределах 7-10
4,Аммиак и аммоний-ион (по азоту),мг/дм3,0.42,"не более 1,5"
5,Нитриты (по NO2),мг/дм3,0.017,"не более 3,3"
6,Нитраты (по NO3),мг/дм3,24,не более 45
7,Фосфаты (P),мг/дм3,0.36,"не более 3,5"
8,Хлориды (Cl),мг/дм3,200,не более 350
9,Сульфаты (SO4),мг/дм3,189.5,не более 500
10,Железо (включая хлорное железо) по Fe,мг/дм3,0.019,"не более 0,3"
11,Нефть,мг/дм3,0.55,"не более 0,3"
12,Общая минерализация (сухой остаток),мг/дм3,590,не более 1000
13,Окисляемость перманганатная,мг/дм3,2,"не более 0,5"

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Показатель         14 non-null     object
 1   Единица измерений  14 non-null     object
 2   Результат анализа  14 non-null     object
 3   Норматив           14 non-null     object
dtypes: object(4)
memory usage: 576.0+ bytes

In [174]:
# Convert Результат анализа into float number

In [176]:
for i in range(len(df)):
    text = df['Результат анализа'].iloc[i]
    print(text, text.isnumeric())

8.4 False
1 True
б/цвета False
9.199999999999999 False
0.42 False
0.017 False
24 True
0.36 False
200 True
189.5 False
0.019 False
0.55 False
590 True
2 True

In [177]:
float('0.017')

0.017

In [178]:
# digits and dots

In [188]:
for i in range(len(df)):
    text = df['Результат анализа'].iloc[i]
    res = re.findall(r'[0-9]+[\.]{0,1}[0-9]*', text)
    if not res:
        print('No number')
    else:
        print(float(res[0]))

8.4
1.0
No number
9.2
0.42
0.017
24.0
0.36
200.0
189.5
0.019
0.55
590.0
2.0

In [189]:
### Put it all together

In [190]:
for i in range(len(df)):
    ##
    text = df['Результат анализа'].iloc[i]
    res = re.findall(r'[0-9]+[\.]{0,1}[0-9]*', text)
    if not res:
        measured = 0
    else:
        measured = float(res[0])
    ##
    text = df['Норматив'].iloc[i]
    result = re.findall(r'\b\w{3,10}\b', text)[0]
    if result == 'пределах':
        low, high = re.findall(r'[0-9]+', text)
        print(measured, 'Range', float(low), float(high))
    elif result == 'более':
        limit = re.findall(r'[0-9]+', text)
        if len(limit)==2:
            limit = float(limit[0]+'.'+limit[1])
        else:
            limit = float(limit[0])
        print(measured, 'Limit', limit)

8.4 Range 6.0 9.0
1.0 Limit 2.3
0 Limit 30.0
9.2 Range 7.0 10.0
0.42 Limit 1.5
0.017 Limit 3.3
24.0 Limit 45.0
0.36 Limit 3.5
200.0 Limit 350.0
189.5 Limit 500.0
0.019 Limit 0.3
0.55 Limit 0.3
590.0 Limit 1000.0
2.0 Limit 0.5

In [191]:
## Valid or Invalid ?

In [193]:
for i in range(len(df)):
    ##
    text = df['Результат анализа'].iloc[i]
    res = re.findall(r'[0-9]+[\.]{0,1}[0-9]*', text)
    if not res:
        measured = 0
    else:
        measured = float(res[0])
    ##
    text = df['Норматив'].iloc[i]
    result = re.findall(r'\b\w{3,10}\b', text)[0]
    if result == 'пределах':
        low, high = re.findall(r'[0-9]+', text)
        #print(measured, 'Range', float(low), float(high))
        if float(low) <= measured <= float(high):
            print(measured, 'Range', float(low), float(high), 'Valid')
            
    elif result == 'более':
        limit = re.findall(r'[0-9]+', text)
        if len(limit)==2:
            limit = float(limit[0]+'.'+limit[1])
        else:
            limit = float(limit[0])
        #print(measured, 'Limit', limit)
        if measured <= limit:
            print(measured, 'Limit', limit, 'Valid')

8.4 Range 6.0 9.0 Valid
1.0 Limit 2.3 Valid
0 Limit 30.0 Valid
9.2 Range 7.0 10.0 Valid
0.42 Limit 1.5 Valid
0.017 Limit 3.3 Valid
24.0 Limit 45.0 Valid
0.36 Limit 3.5 Valid
200.0 Limit 350.0 Valid
189.5 Limit 500.0 Valid
0.019 Limit 0.3 Valid
590.0 Limit 1000.0 Valid

In [194]:
## A new column in DF

In [195]:
df['Соответствие нормативу'] = ['-']*len(df)

In [196]:
for i in range(len(df)):
    ##
    text = df['Результат анализа'].iloc[i]
    res = re.findall(r'[0-9]+[\.]{0,1}[0-9]*', text)
    if not res:
        measured = 0
    else:
        measured = float(res[0])
    ##
    text = df['Норматив'].iloc[i]
    result = re.findall(r'\b\w{3,10}\b', text)[0]
    if result == 'пределах':
        low, high = re.findall(r'[0-9]+', text)
        #print(measured, 'Range', float(low), float(high))
        if float(low) <= measured <= float(high):
            #print(measured, 'Range', float(low), float(high), 'Valid')
            df['Соответствие нормативу'].iloc[i] = 'Соответствует'
    elif result == 'более':
        limit = re.findall(r'[0-9]+', text)
        if len(limit)==2:
            limit = float(limit[0]+'.'+limit[1])
        else:
            limit = float(limit[0])
        #print(measured, 'Limit', limit)
        if measured <= limit:
            #print(measured, 'Limit', limit, 'Valid')
            df['Соответствие нормативу'].iloc[i] = 'Соответствует'

In [197]:
df

,Показатель,Единица измерений,Результат анализа,Норматив,Соответствие нормативу
0,pH,единицы pH,8.4,в пределах 6-9,Соответствует
1,Запах,баллы,1,не более 2-3,Соответствует
2,Цветность,градусы,б/цвета,не более 30,Соответствует
3,Жёсткость,мг-эквл/дм3,9.199999999999999,в пределах 7-10,Соответствует
4,Аммиак и аммоний-ион (по азоту),мг/дм3,0.42,"не более 1,5",Соответствует
5,Нитриты (по NO2),мг/дм3,0.017,"не более 3,3",Соответствует
6,Нитраты (по NO3),мг/дм3,24,не более 45,Соответствует
7,Фосфаты (P),мг/дм3,0.36,"не более 3,5",Соответствует
8,Хлориды (Cl),мг/дм3,200,не более 350,Соответствует
9,Сульфаты (SO4),мг/дм3,189.5,не более 500,Соответствует
10,Железо (включая хлорное железо) по Fe,мг/дм3,0.019,"не более 0,3",Соответствует
11,Нефть,мг/дм3,0.55,"не более 0,3",-
12,Общая минерализация (сухой остаток),мг/дм3,590,не более 1000,Соответствует
13,Окисляемость перманганатная,мг/дм3,2,"не более 0,5",-